/* reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Variables para colores */

:root {
  --primary-color: #01c38e;
  --secondary-color: #132d46;
  --background-color: #1a1e29;
}

html {
  background-color: var(--background-color);
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.gap-container {
  gap: 20px;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  padding: 10px 0;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

section {
  padding: 9rem 2rem 9rem;
}

.fixed-header {
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
  border-bottom: 1px solid #fff;
  z-index: 10000;
}


/* seccion para el hamburger menu */
.hamburger-menu {
  display: none;
  height: 40px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition-duration: 0.25s;
}

.menu__btn>span::before {
  content: "";
  top: -8px;
}

.menu__btn>span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}

.menu__item:hover {
  background-color: #fff;
}

#menu-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* seccion para el hamburger menu */

.heading {
  min-height: 80vh;
  background-color: var(--secondary-color);
}

.text-sectionEquipo {
  font-weight: 600;
  margin-top: 20px;
  color: var(--primary-color);
}

.section-equipo {
  color: #fff;
  margin-top: 40px;
}

.rounded {
  border-radius: 50%;
  object-fit: cover;
}

.section-acerca {
  color: var(--secondary-color);
  background-color: #fff;
}

.acerca-div{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.acerca-div>div {
  width: 500px;
}

.section-valores {
  color: var(--background-color);
  background-color: #fff;
  padding: 80px 100px;
}

.valores-div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;

}

.valores-div>div {
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  transition: 0.5s ease-in-out;
  text-align: left;
}

.valores-div>div>h3 {
  text-align: center;
}

.valores-div>div:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}


footer {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: var(--secondary-color);
}

.footer-container {
  padding: 20px 100px 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-bottom: 5px solid var(--primary-color);
}

.footer-container>p {
  font-size: 14px;
  color: #fff;
}

.footer-container a {
  font-size: 14px;
  color: #fff;
}

.footer-container a:hover {
  color: var(--primary-color);
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .desktop-menu {
    display: none;
  }

  .footer-container {
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .footer-container>p {
    display: none;
  }
}